body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: #e9eef2; /* gelo acinzentado azulado */
  color: #333;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
  padding: 60px 0;
}

.hero {
  display: flex;
  align-items: center;
  text-align: center;
  color: white;
  
  width: 90%;
  max-width: 1100px;
  margin: auto;
  padding: 60px 0;
}


.hero-content {
  position: relative;
  z-index: 2;
}

.cinza { color: #d0d0d0; }
.azul { color: #1f4ed8; }

.btn-primary {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 28px;
  background: #1f4ed8; /* azul royal */
  color: white;
  text-decoration: none;
  border-radius: 4px;
  font-weight: 600;
}

.sobre {
  display: flex;
  gap: 40px;
  align-items: center;
}

.sobre img {
  width: 300px;
  border-radius: 8px;
}

.servicos {
  background: white;
  padding: 60px 0;
}

.grid-servicos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.card {
  background: #f8fafc;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.card img {
  width: 100%;
  border-radius: 6px;
  margin-bottom: 15px;
}

.publicacoes {
  background: #f4f7fa;
  padding: 60px 0;
}

footer {
  text-align: center;
  padding: 30px;
  background: #111;
  color: #aaa;
}


@media(max-width: 768px){
  .sobre {
    flex-direction: column;
  }
}


.mapcontainer {
    display: flex;
    justify-content: center;
}




.rodape-premium {
background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
padding: 40px 20px;
text-align: center;
font-family: 'Segoe UI', Arial, sans-serif;
}

.rodape-premium h3 {
color: #ffffff;
margin-bottom: 25px;
font-weight: 500;
letter-spacing: 1px;
}

.social-icons {
display: flex;
justify-content: center;
gap: 25px;
}

.social-icons a {
width: 55px;
height: 55px;
display: flex;
align-items: center;
justify-content: center;
border-radius: 50%;
background-color: rgba(255,255,255,0.1);
color: white;
font-size: 22px;
transition: all 0.3s ease;
text-decoration: none;
}

.social-icons a:hover {
transform: translateY(-5px);
box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

.phone:hover { background-color: #444; }
.email:hover { background-color: #d44638; }
.linkedin:hover { background-color: #0a66c2; }
.whatsapp:hover { background-color: #25D366; }

.rodape-copy {
margin-top: 30px;
color: rgba(255,255,255,0.6);
font-size: 14px;
}



.logocontainer {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.logocontainer img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    animation: zoom 6s infinite ease-in-out;
}

@keyframes zoom {
  0%   { transform: scale(1); }
  25%  { transform: scale(1.05); }
  50%  { transform: scale(1.1); }
  75%  { transform: scale(1.05); }
  100% { transform: scale(1); }
}


